@import '_variables';
@import '_navbar';
@import '_banner';
@import '_main';
@import '_footer';

#inner-view{
    margin-top: 70px;
}

.customer{
    h6{
        color: blue;
        margin-top: 20px;
    }
    .row{
        .col-md-6{
            .row{
                :nth-child(2){
                    span{
                        min-width: 100px;
                    }
                }
                :nth-child(1){
                    input, select{
                        min-width: 150px;
                    }
                }
            }
        }
    }
    .input-group{
        margin-top: 2px;
        span{
            min-width: 140px;
            text-align: right;
            height: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        input, select{
            height: 20px;
            min-width: 150px;
        }
        select{
            padding: 1px;
        }
    }
}
