#pricing {
    margin-top: 100px;
    text-align: center;
    // background-color: $bg-color;

    h2 {
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .container>p {
        width: 600px;
        text-align: center;
        margin-left: 22%;
        margin-bottom: 40px;
    }
}