$bg-color:#fff;
$footer-bg-color:lightgreen;
$primary-color: black;
@font-face {
    font-family: 'BAUHS93';
    src: url('../fonts/BAUHS93.eot');
    src: local('BAUHS93'), url('../fonts/BAUHS93.woff') format('woff'), url('../fonts/BAUHS93.ttf') format('truetype');
}